<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001738245014-tehvc2ndv2p2cmpjcsfu4rpv1pq5djpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001738245014-tehvc2ndv2p2cmpjcsfu4rpv1pq5djpj</string>
	<key>API_KEY</key>
	<string>AIzaSyDeu7GopkZnb0L4v_WM8m_HNVxHwYy4_yI</string>
	<key>GCM_SENDER_ID</key>
	<string>1001738245014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Yan-Rybkin.MINI</string>
	<key>PROJECT_ID</key>
	<string>mini-superapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-superapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001738245014:ios:0064c22ed3c9f80ba1c3b7</string>
</dict>
</plist>